.o_thread_message_prt_button {
    padding: 4px;
}
.preview-mode {
    height: 100%;
}
.preview-mode .table-responsive,
.tree-record-preview {
    width: 50%;
    display: inline-block;
    background: white;
    overflow-y: auto !important;
}
.tree-record-preview {
    vertical-align: top;
    height: 100%;
    border-left: 1px solid #cacaca;
}
.tree-record-preview .message {
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid #cacaca;
}
.preview-mode .table-responsive {
    -ms-flex: 1 1 auto;
    -moz-flex: 1 1 auto;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    height: 100%;
    overflow: auto;
    position: relative;
}
.preview_row .o_list_record_selector:nth-of-type(1) {
    border-right: solid 3px;
}
