.btn-primary, .btn-secondary {
    text-transform: uppercase;
    background-color: #4baf7e;
    border-color: #4baf7e;
    color: white;
}

.o_form_view .o_form_uri {
    display: inline-block;
    color: #5386b5;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 400;
    line-height: 1.2;
    color: #709ac1;
}